@import "../styles/variables.scss";

.herotext{
  margin: auto;
  z-index: $ZIndex-HeroText;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1 rem;

  h1{
    font-size: 4rem;
    color: white;
    text-align: center;
    text-shadow: $shadow-hero;
  }
}

@media (max-width: 767px) {
  .herotext{
    margin: auto auto 70%; //change value pagka need itaas yung name and button
    gap: 1.2rem;
  h1{
    font-size: 3rem !important;
  }
  }
}