//============================
// ClientName
//============================
$name-client: krysandshar;

//============================
// Color
//============================
$color-primary: #637d60;
$color-primary-hover: rgb(156, 196, 152);
$color-warn: rgb(216, 14, 0);
$color-input-bg: #f6f6f6;
$color-font-header: #333;
$color-font-body: #333;
$color-body-bg: #fff;
$color-nav-bg: #fff;
$color-nav-shadow: rgba(0, 0, 0, 0.2);

//============================
// Font
//============================
$font-header: var(--font-playfair), sans-serif;
$font-body: var(--font-opensans), sans-serif;

//============================
// Shadow
//============================
$shadow-nav-side: $color-nav-shadow 0px 4px 4px 0px;
$shadow-nav-top: $color-nav-shadow 4px 0px 4px 0px;
$shadow-hero: 0 2px 10px rgba(0, 0, 0, 0.5);

//============================
// ZIndex
//============================
$ZIndex-Overlay: 1200;
$ZIndex-Nav: 1000;
$ZIndex-Menu: 999;
$ZIndex-HeroText: 5;
$ZIndex-Body: 0;
